# Terraform Provider testing workflow.
name: Tests

# This GitHub action runs your tests for each pull request and push.
# Optionally, you can turn it on using a schedule for regular testing.
on:
  pull_request:
    branches: ['main']
    paths-ignore:
      - "README.md"
  push:
    branches: ['main']
    paths-ignore:
      - "README.md"

permissions: {}

jobs:
  # Ensure project builds before running testing matrix
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5

    # Testing only needs permissions to read the repository contents.
    permissions:
      contents: read

    outputs:
      entrypoint_ref: ${{ steps.entrypoint-build.outputs.entrypoint_ref }}

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "go.mod"
          check-latest: true
          cache: true

      - run: go mod download

      - run: go build -v .

      - name: Run linters
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest

      - uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9
        env:
          KO_DOCKER_REPO: "ttl.sh/imagetest" # Avoid using GH registry for presubmit and plumbing auth

      - id: entrypoint-build
        run: |
          ref=$(ko build --base-import-paths ./cmd/entrypoint)
          echo "entrypoint_ref=${ref}" >> $GITHUB_OUTPUT

  generate:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "go.mod"
          check-latest: true
          cache: true

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: "1.10.*"
          terraform_wrapper: false

      - run: make go-generate

      - name: git diff
        run: |
          git diff --compact-summary --exit-code || \
            (echo; echo "Unexpected difference in directories after code generation. Run 'go generate ./...' command and commit."; exit 1)

  # Run acceptance tests in a matrix with Terraform CLI versions
  test:
    name: Terraform Provider Acceptance Tests
    needs: build

    runs-on: ubuntu-latest

    timeout-minutes: 15

    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        # list whatever Terraform versions here you would like to support
        terraform:
          - "1.10.*"
          - "1.11.*"

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      
      # In some cases, we runs out of disk space during tests, so this hack frees up approx 10G.
      # See the following issue for more info: https://github.com/actions/runner-images/issues/2840#issuecomment-1284059930
      - name: Free up runner disk space
        shell: bash
        run: |
          set -x
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "go.mod"
          check-latest: true
          cache: true

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false

      - name: configure docker daemon
        run: |
          # Use a larger cidr range with a smaller subnet mask to avoid ip
          # exhaustion when creating harness networks
          if [ ! -f /etc/docker/daemon.json ]; then
            echo '{}' | sudo tee /etc/docker/daemon.json
          fi
          cat /etc/docker/daemon.json | jq '. | .+{"default-address-pools": [{"base":"10.0.0.0/8","size":24}]}' | sudo tee /etc/docker/daemon.json
          cat /etc/docker/daemon.json
          sudo systemctl restart docker

      - run: go mod download

      - run: go test -v -cover ./internal/provider/
        timeout-minutes: 10
        env:
          TF_ACC: "1"
          TF_LOG: "info"
          IMAGETEST_ENTRYPOINT_REF: ${{ needs.build.outputs.entrypoint_ref }}

  images-test:
    name: Run imagetest against images
    needs: build

    runs-on: ubuntu-latest
    timeout-minutes: 30

    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        # Pick small, reliable image tests that hit the various harnesses. Run
        # these in shards because we're using undersized runners compared to
        # upstream and will easily hit disk pressure.
        images:
          - calico
          - cilium
          - jre
          - maven
          - tomcat
          - busybox

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "go.mod"
          check-latest: true
          cache: true

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: "1.10.*"
          terraform_wrapper: false

      - name: Build the provider
        run: |
          go install .

      - name: Clone the public images repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: chainguard-images/images
          path: images

      - name: Build images
        working-directory: images
        env:
          TF_VAR_target_repository: "ttl.sh/imagetest"
          IMAGETEST_ENTRYPOINT_REF: ${{ needs.build.outputs.entrypoint_ref }}
        run: |
          make init-upgrade

          # Use the local provider
          cat <<EOF > $HOME/.terraformrc
          provider_installation {
            dev_overrides {
              "registry.terraform.io/chainguard-dev/imagetest" = "$HOME/go/bin/"
            }
          }
          direct {}
          EOF

          cat <<EOF > main_override.tf
          provider "imagetest" { repo = var.target_repository }
          EOF

          terraform apply -target='module.${{ matrix.images }}' -auto-approve --parallelism=$(nproc)
